/* Main style */

body {
    background: white;
}


.border {
    border: solid 1px black;
}

.main-title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    font-size: 2rem;
}

.btn-margin {
    margin: 0 0.5rem;
}

.controls-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.sectors-graph-container {
}

.genders-graph-container {
}

/* Structure of containers */

.map-container {
    position: fixed;
    top: 4rem;
    bottom: 4rem;
    left: 0;
    right: 50%;
    width: auto;
}

.controls-container {
    position: fixed;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0;
    height: 4rem;
}

.bars-graph-container {
    position: fixed;
    top: 4rem;
    bottom: 50%;
    height: auto;
    left: 50%;
    right: 0;
    width: auto;
}

.pie-graph-container {
    position: fixed;
    bottom: 4rem;
    right: 0;
    left: 50%;
    width: auto;
    top: 50%;
    height: auto;
}

/* Map */

.svg-map {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background-color: #f0f0f0;
    border-radius: 1rem;
}

.region, .clickable {
    cursor: pointer;
}

.region-tooltip {
    position: fixed;
    font-size: large;
    background-color: black;
    color: white;
    padding: 0.1rem 0.5rem;
    z-index: 100;
}

.map-help-icon {
    position: fixed;
    z-index: 10;
    top: 4.7rem;
    left: 1rem;
    font-size: x-large;
    color: #007bff;
    cursor: pointer;
}

.map-help-content {
    position: fixed;
    z-index: 10;
    top: 6.5rem;
    left: 2.5rem;
    padding: 0.5rem;
    background-color: white;
    border: solid 2px black;
    border-radius: 1rem;
}

.transition {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s 
}

/* Controls */

.controls-container form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    padding-top: 0.2rem;
}

@media(max-width: 750px) {
    .dropdown {
        display: none !important;
    }
}

.dropdown-menu {
    -webkit-animation: fadeInFromNone 0.1s ease-out;
    -moz-animation: fadeInFromNone 0.1s ease-out;
    -o-animation: fadeInFromNone 0.1s ease-out;
    animation: fadeInFromNone 0.1s ease-out;
}

.dropdown-padded {
    padding: 0.5rem !important;
}

.dropdown-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.check-label {
    cursor: pointer;
    width: 100%;
    justify-content: left !important;
}

.dropdown, .dropdown-menu  {
    white-space: nowrap;
}

.custom-radio {
    width: 100%;
}

nav {
    z-index: 1000;
}

#rangeTimeLabel {
 font-weight: bold;
}

h1 {
    display: inline;
    padding: 0;
    margin: 0 0.5rem;
    inline-size: 0;
    font-size: x-large;
}

.dropdown-toggle:after {
    margin-left: 0.5rem;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

/* Pie chart */

.pie-tooltip {
    position: fixed;
    background-color: black;
    color: white;
    padding: 0.1rem 0.5rem;
    z-index: 100;
    font-size: large;
}

.gender-btn {
    position: fixed;
    right: 1.5rem;
    top: calc(50% + 0.8rem);
    z-index: 10;
    font-size: xx-large;
    cursor: pointer;
    color: #007bff;
}

.pie-help-icon {
    position: fixed;
    z-index: 10;
    top: calc(50% + 0.8rem);
    left: calc(50% + 1rem);
    font-size: x-large;
    color: #007bff;
    cursor: pointer;
}

.pie-help-content {
    position: fixed;
    z-index: 10;
    top: calc(50% + 2.5rem);
    left: calc(50% + 2rem);
    padding: 0.5rem;
    background-color: white;
    border: solid 2px black;
    border-radius: 1rem;
}

.axis-bottom .domain {
    display: none;
}
  
.n {
    opacity: .8;
    font-size: 10px;
    margin-left: 4px;
    font-family: sans-serif;
    color: white;
    padding: 6px;
    background-color: #3C3176;
}

/* Bars chart */

.bars-help-icon {
    position: fixed;
    z-index: 10;
    top: 4.5rem;
    left: calc(50% + 1rem);
    font-size: x-large;
    color: #007bff;
    cursor: pointer;
}

.bars-help-content {
    position: fixed;
    z-index: 10;
    top: 6rem;
    left: calc(50% + 2.5rem);
    padding: 0.5rem;
    background-color: white;
    border: solid 2px black;
    border-radius: 1rem;
}
