/* Main style */

body {
    background: white;
}


.border {
    border: solid 1px black;
}

.main-title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 3.5rem;
    font-size: 2rem;
}


.controls-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.sectors-graph-container {
}

.genders-graph-container {
}

/* Structure of containers */

.map-container {
    position: fixed;
    top: 4rem;
    bottom: 4rem;
    left: 0;
    right: 50%;
    width: auto;
}

.controls-container {
    position: fixed;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0;
    height: 4rem;
}

.bars-graph-container {
    position: fixed;
    top: 4rem;
    bottom: 50%;
    height: auto;
    left: 50%;
    right: 0;
    width: auto;
}

.pie-graph-container {
    position: fixed;
    bottom: 4rem;
    right: 0;
    left: 50%;
    width: auto;
    top: 50%;
    height: auto;
}

/* svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" */

.svg-map {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background-color: #f0f0f0;
    border-radius: 1rem;
}

.controls-container form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    padding-top: 0.2rem;
}
